<div class="row">
  <div class="col col-md"></div>
  <div class="col-10 col-md-6">
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <h5>Inicio de sesión</h5>
     
      <label>Correo Electrónico</label>
  <!--    <i class="fa fa-check-circle check"
           *ngIf="registroForm.controls.email.valid"></i> -->
      <i class="fa fa-excalmation-circle uncheck"
           *ngIf="registroForm.controls.email.invalid &&
                  registroForm.controls.email.touched"></i>
      <input type="mail" class="form-control"
             id="inputEmail" autofocus
             formControlName="email">
      <p class="alert alert-danger"
           *ngIf="registroForm.controls.email.invalid &&
                  registroForm.controls.email.touched">
                    Por favor escriba un email válido. </p>

      <label>Contraseña</label>
   <!--   <i class="fa fa-check-circle check"
           *ngIf="registroForm.controls.password.valid"></i> -->
      <i class="fa fa-excalmation-circle uncheck"
           *ngIf="registroForm.controls.password.invalid &&
                  registroForm.controls.password.touched"></i>
      <input type="password" class=form-control
             id="inputPassword"
             formControlName="password">
      <p class="alert alert-danger"
           *ngIf="registroForm.controls.password.invalid &&
                  registroForm.controls.password.touched">
                    Por favor escriba una contraseña válida. </p>
      <hr>
      <button type="submit" class="btn btn-primary"
               [disabled]="!registroForm.valid">Entrar</button>
    </form>
  </div>
  <div class="col col-md"></div>
</div>
